<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{"timestamp":"%d{ISO8601}","level":"%level","logger":"%logger","request_id":"%X{request_id}","user_id":"%X{user_id}","message":"%replace(%msg){'\"','\\\\\"'}"}%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>
</configuration>
